* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  /* background-image: url("../public/images/formerly-gradienta.jpg"); */
  background-image: url("../public/images/gradient.avif");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
