.todoBox {
  width: 50%;
  min-width: 800px;
  height: 50%;
  /* min-height: 600px; */
  /* background: rgba(255, 255, 255, 0.2); */
  background: rgba(131, 98, 146, 0.282);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}