.container {
  width: 100%;
  height: 20%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.mode_btn {
  width: 42px;
  height: 100%;
  background: none;  
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  font-size: 1.3rem;
}

.mode_btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.mode_btn span:hover {
  color: var(--color-hover);
}


.list_wrap {
  display: flex;
  margin-right: 10px;
}

.filter_btn {
  width: auto;
  height: 30px;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-left: 5px;
  text-transform: capitalize;
}

.filter_btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--color-hover);
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.filter_btn:hover {
  color: var(--color-text);
}
.filter_btn:hover:after {
  left: 0;
  width: 100%;
}
.filter_btn:active {
  top: 2px;
}