/*~ VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
}
/* .visual .inner .title { } */
/* 선택자를 작성하는 과정에서 생략할 수 있다. inner는 화면 중앙에 몰아주는 역할만 하기 때문에 사용할 필요가 없음 */
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
/* 배치되는 요소가 다른 요소와 묶여있는 묶음이면 그 묶음을 기준으로 안에서 배치될 수 있는 구조로 만들면 좋다.  */
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
/* .cup1.image => 일치 선택자(cup1이라는 클래스를 가지면서 image도 갖는 선택자) */
.visual .cup1.image {
  position: absolute;
  bottom: 0px;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}


/*~ NOTICE */
/* .notice {

} */
/* NOTICE LINE */
.notice-line {
  position: relative;
}
.notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #333;
}
.notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f6f5ef;
}
.notice-line .inner {
  height: 62px;
  display: flex;
}
.notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background: #333;
  display: flex;
  align-items: center;
}
.notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice-line .inner .inner__left .swiper {
  flex-grow: 1; 
  height: 62px;
}
.notice-line .inner .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.notice-line .inner .inner__left .swiper .swiper-slide a{
  color: #fff;
}
.notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-line .inner .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-line .inner .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}


/*~ PROMOTION */
.notice .promotion {
  height: 693px;
  background: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide { /* .promotion.hide => 일치선택자 */
  height: 0;    /*@ 자바스크립트에서 classList를 통해 hide라는 클래스를 추가했고, 이때 display: none이 아니라 height를 0으로 설정 하는 것에 주의 */
}
.notice .promotion .swiper {
  /*@ css에서 calc함수는 굉장히 유용하게 쓰인다. 단위는 꼭 px이 아니여도 된다. */
  width: calc(819px * 3 + 20px); /* 이미지의 너비 * 3 + 슬라이드 사이의 여백 10px 두개 */
  height: 553px;    /* 이미지의 높이 */

  /*^ 이미지가 무조건 가운데로 올 수 있도록 만들기 */
  position: absolute;
  top: 40px;
  left: 50%;
  /* margin-left: -1238.5px; 가로너비의 절반만큼을 -  */
  margin-left: calc((819px * 3 + 20px) / -2); /*@ 가로너비의 절반만큼을 - */
}
.notice .promotion .swiper .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper .swiper-slide-active {
  /* swiper-slide-active는 개발자도구에서 확인할 수 있듯이 가운데 온 이미지에 생성된 클래스를 의미한다. */
  opacity: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  /* 가운데 배치
  left:0, right:0, margin: auto 
  가로너비도 필요하지만, 위에 .btn에 width가 있으므로 따로 안넣어도 된다.
  */
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;    /* active시 테두리선 제거하는건데 swiper 최신 버전에는 패치된듯 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background: #333;
  color: #fff;
}


/*~ REWARDS */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
  /* position: relative가 위에서 선언한 .inner에 들어 있으므로, 따로 적어주지 않아도 된다. */
}

.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;   /* 부모 요소인 .rewards .inner에 position: relative가 없다고 생각하면 안됨. relative는 위에서 선언한 .inner에 들어있기 때문 */
  bottom: 24px;
  right: 0;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}


/*~ YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background: #333;
  overflow: hidden; /* youtube 영상의 가운데 부분만 보여주기 위해 넘치는 부분은 hidden으로 제거 */
}
.youtube .youtube__area {
  width: 1920px;            /* FHD : 1920 * 1080 */
  background: skyblue;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2) /*@ 가로너비 1920px을 기준으로 세로 너비가 16:9 비율로 들어가게 하기 */
}
/*@ 스타일작업을 위해 요소가 필요할 때(html에서 div태그를 만드는 것이 아니라 css적으로 생성가능) */
.youtube .youtube__area::before {
  /* 가상의 요소만들기 */
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  /* @ 16:9 비율의 영상을 출력하기 위해 높이를 0으로 하고 패딩 top을 56.25%로 설정 */
}
.youtube .youtube__cover {
  background-image: url('../images/video_cover_pattern.png');
  background-color: rgba(0,0,0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
  /* background-color: seagreen; */ 
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}
/* .youtube .floating3 {
  position: absolute;
  bottom: -200px;
  right: 0;
} */


/*~ SEASON PRODUCT */
.season-product {
background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner {
  height: 400px;
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}
.season-product .text-group .more {
  
}


/*~ RESERVE COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .inner .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}


/*~ PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
}
.pick-your-favorite .text-group {
  /* background: orange; */
  margin-left: 100px;
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}


/*~ RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
/* 다중 선택자 */
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}
.reserve-store .medal .front {
  /* position: absolute; 다중 선택자에 넣어도 문제 없음 */
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  /*@ 가운데 정렬을 위해서는 가로너비가 필요한데, .btn이 위에서 가로너비를 갖고 있음 */
}


/*~ FIND STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  position: absolute;
}
.find-store .picture1 {
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/*~ AWARDS */
.awards {
  background: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper {
  width: 100%;
  height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev { 
  left: -100px;
}

.awards .swiper-next { 
  right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}


#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}